html {
  height: 100%;
  overflow: scroll;
}

h2 {
  color: ivory;
  align-items: center;
}

.btn {
  color: ivory;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: black;
}
#cardGallery {
  background-color: ivory;
  color: black;
  
}
.l12 {
  text-align: center;
}
.container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
}

label {
  font-size: xx-large;
  color: ivory;
}

p {
  font-weight: bolder;
  font-size: 10px;
}

form {
  background-color: ivory;
  padding: 5px;
}
a {
  align-items: center;
}
